[submodule "cpp-pinyin"]
	path = cpp-pinyin
	url = https://github.com/Huiyicc/cpp-pinyin.git
[submodule "json"]
	path = json
	url = https://github.com/huiyicc/json
	branch = 00bb81de769a80303e607aea149419902230bc4b
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
	branch = 9c821dc21ccbd69b2bda421fdb35cb4ae2da8f5e
[submodule "boost"]
	path = boost
	url = https://github.com/OpenHYGUI/boost-cmake
[submodule "tokenizers-cpp"]
	path = tokenizers-cpp
	url = https://github.com/Huiyicc/tokenizers-cpp
[submodule "libsndfile"]
	path = libsndfile
	url = https://github.com/huiyicc/libsndfile
[submodule "SRELL"]
	path = SRELL
	url = https://github.com/huiyicc/SRELL
[submodule "utfcpp"]
	path = utfcpp
	url = https://github.com/Huiyicc/utfcpp
[submodule "cppjieba"]
	path = cppjieba
	url = https://github.com/Huiyicc/cppjieba
[submodule "libsamplerate"]
	path = libsamplerate
	url = https://github.com/Huiyicc/libsamplerate
[submodule "cld2-cmake"]
	path = cld2-cmake
	url = https://github.com/Huiyicc/cld2-cmake
[submodule "xtl"]
	path = xtl
	url = https://github.com/Huiyicc/xtl
[submodule "xtensor-blas"]
	path = xtensor-blas
	url = https://github.com/Huiyicc/xtensor-blas
[submodule "xtensor"]
	path = xtensor
	url = https://github.com/Huiyicc/xtensor
[submodule "fmt"]
	path = fmt
	url = https://github.com/Huiyicc/fmt
[submodule "gpt_sovits_cpp"]
	path = gpt_sovits_cpp
	url = https://github.com/Huiyicc/gpt_sovits_cpp
[submodule "LVGLEx"]
	path = LVGLEx
	url = https://github.com/Huiyicc/LVGLEx.git
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/Huiyicc/lvgl
[submodule "freetype2"]
	path = freetype2
	url = https://github.com/Huiyicc/freetype2/
