[submodule "cpp-pinyin"]
	path = cpp-pinyin
	url = https://github.com/Huiyicc/cpp-pinyin.git
[submodule "json"]
	path = json
	url = https://github.com/huiyicc/json
	branch = 00bb81de769a80303e607aea149419902230bc4b
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
	branch = 78cc5c173404488d80751af226d1eaf67033bcc4
[submodule "boost"]
	path = boost
	url = https://github.com/OpenHYGUI/boost-cmake
[submodule "tokenizers-cpp"]
	path = tokenizers-cpp
	url = https://github.com/Huiyicc/tokenizers-cpp
[submodule "libsndfile"]
	path = libsndfile
	url = https://github.com/huiyicc/libsndfile
[submodule "SRELL"]
	path = SRELL
	url = https://github.com/huiyicc/SRELL
[submodule "utfcpp"]
	path = utfcpp
	url = https://github.com/Huiyicc/utfcpp
[submodule "cppjieba"]
	path = cppjieba
	url = https://github.com/Huiyicc/cppjieba
[submodule "libsamplerate"]
	path = libsamplerate
	url = https://github.com/Huiyicc/libsamplerate
[submodule "cld2-cmake"]
	path = cld2-cmake
	url = https://github.com/Huiyicc/cld2-cmake
